<button (click)="addWord()">Thêm từ mới</button>
<br>
<div *ngIf="isShowForm">
    <input placeholder="Nhập từ tiếng anh" [(ngModel)]="newEn" />
    <br>
    <input placeholder="Nhập nghĩa tiếng việt" [(ngModel)]="newVn" />
</div>
<br><br>
<select [(ngModel)]="filterStatus">
    <option value="XEM_TAT_CA">Xem tất cả</option>
    <option value="XEM_DA_NHO">Xem từ đã nhớ</option>
    <option value="XEM_CHUA_NHO">Xem từ chưa nhớ</option>
</select>
<div *ngFor="let word of arrWords">
    <!-- <div class="word" *ngIf="(filterStatus === 'XEM_TAT_CA') || (filterStatus === 'XEM_DA_NHO' && word.memorized) || (filterStatus === 'XEM_CHUA_NHO' && !word.memorized)"> -->
    <div class="word" *ngIf="getShowStatus(word.memorized)">
        <h4 [ngStyle]="{color: word.memorized ? 'green' : 'red'}">{{ word.en }}</h4>
        <p>{{ word.vn }}</p>
        <button (click)="removeWord(word.id)">Xóa</button>
        <button (click)="word.memorized = !word.memorized">
            {{word.memorized ? 'Chưa thuộc' : 'Đã thuộc'}}
        </button>
    </div>
</div>