<!-- <app-word></app-word> -->
<!-- <app-user-form></app-user-form> -->
<!-- <app-weather></app-weather> -->
<!-- <app-struct></app-struct> -->
<!-- <app-words></app-words> -->
<!-- <app-person name="Nguyễn Quang Trường" age="20"></app-person> -->
<!-- <app-person name="Phan Thùy Linh" age="19"></app-person> -->
<app-list-person></app-list-person>
<!-- <app-parent></app-parent> -->
<!-- <app-card>
    <p class="card-header">Dòng chữ header</p>
    <p class="card-body">Dòng chữ body</p>
</app-card> -->
<!-- <app-learn-pipe></app-learn-pipe> -->